@page "/"

<h1>👋 Scrivi il tuo nome</h1>

<input @bind="name" placeholder="Il tuo nome..." class="form-control" />

@if (!string.IsNullOrWhiteSpace(name))
{
    <p>Ciao, <b>@name</b>!</p>
}

@code {
    string? name;
}
